@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
}

.modal-recipe{
    animation: fade-in .25s ease-in-out; 
    transition: all 2s ;
}

.animated-img{
    animation: grown .25s ease-in-out;
    transition: all 2s;
}
@keyframes fade-in {
    from{
        top:0%;
        bottom: 100%;
    } 
    to {
        top:10%;
        bottom: 10%;
        left: 4%;
    }
}

@keyframes grown {
    from{
        height: 0;
    } 
    to {
        height:100%;
    }
}